.landing-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-text003 {
  font-style: normal;
  font-weight: 600;
}
.landing-text004 {
  text-decoration: none;
}
.landing-text005 {
  font-style: normal;
  font-weight: 600;
}
.landing-text006 {
  font-style: normal;
  font-weight: 600;
}
.landing-text010 {
  text-decoration: none;
}
.landing-text011 {
  font-style: normal;
  font-weight: 600;
}
.landing-text016 {
  text-align: center;
}
.landing-text017 {
  text-align: center;
}
.landing-text033 {
  font-size: 48px;
}
.landing-text035 {
  font-style: normal;
  font-weight: 600;
}
.landing-text037 {
  font-style: normal;
  font-weight: 600;
}
.landing-text051 {
  font-size: 48px;
}
.landing-text052 {
  font-style: normal;
  font-weight: 600;
}
.landing-text056 {
  text-align: center;
}
.landing-text058 {
  text-align: center;
}
.landing-text060 {
  font-style: normal;
  font-weight: 600;
}
.landing-text061 {
  font-style: normal;
  font-weight: 600;
}
.landing-text066 {
  font-size: 48px;
}
.landing-text071 {
  font-size: 48px;
}
.landing-text074 {
  font-size: 48px;
}
.landing-text080 {
  text-align: center;
}
.landing-text084 {
  font-size: 48px;
}
.landing-text085 {
  font-style: normal;
  font-weight: 600;
}
.landing-text086 {
  text-align: center;
}
.landing-text087 {
  text-align: center;
}
.landing-text089 {
  text-align: center;
}
.landing-text092 {
  text-align: center;
}
.landing-text098 {
  text-align: left;
}
.landing-text102 {
  text-align: center;
}
.landing-text104 {
  text-align: left;
}
.landing-text106 {
  text-align: left;
}
.landing-text107 {
  text-align: left;
}
.landing-text112 {
  text-align: center;
}
.landing-text113 {
  text-align: center;
}
.landing-text121 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
